:root {
    --primary-color: #1C92D2;
    --bg-light: #F2FCFE;
    --text: #2C3E50;
    --text-light: #6C757D;
    --hover: #17A2B8;
    --button: linear-gradient(90deg, #1C92D2 0%, #b12e83 100%);
    --button-hover: linear-gradient(90deg, #b12e83 0%, #1C92D2 100%);
    --pink: #b12e83;
    --soft-pink: #F8D2E0;
    --light-gray: rgba(128, 128, 128, 0.306);
    --font-family: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', sans-serif;
}

html,
body {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background: #fff5f8;
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.find-section {
    padding: 36px 40px;
    margin: 0 auto;
}

.find-sub-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-weight: 600;

}

.find-title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 32px;
    padding-bottom: 8px;
    letter-spacing: 1px;
}

.find-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.find-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    min-height: 240px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    padding: 12px 16px;
}

.find-card:hover {
    transform: translateY(-5px);
}

.find-card.find-card-large {
    grid-row: span 2;
}

.find-card-wide {
    grid-column: 1 / -1;
}

.find-card:nth-child(1) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent 80%),
        url('https://images.pexels.com/photos/19203032/pexels-photo-19203032.jpeg') center/cover;
}

.find-card:nth-child(2) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent 80%),
        url('https://images.pexels.com/photos/1798665/pexels-photo-1798665.jpeg') center/cover;
}

.find-card:nth-child(3) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent 80%),
        url('https://images.pexels.com/photos/4037163/pexels-photo-4037163.jpeg') center/cover;
}

.find-card:nth-child(4) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent 80%),
        url('https://images.pexels.com/photos/16575114/pexels-photo-16575114.jpeg') center/cover;
}

.find-card-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.find-card-content.split-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    padding: 0;
    background: transparent;
    gap: 8px;
}

.name-btn {
    /* background: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(10px); */
    color: var(--bg-light);
    border: none;
    /* padding: 8px; */
    font-family: var(--font-family);
    font-size: 1.34rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.5px;
}

.discover-btn {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: var(--bg-light);
    border: none;
    padding: 8px 12px;
    font-family: var(--font-family);
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    white-space: nowrap;
    /* background: none; */
}

.discover-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.arrow {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.discover-btn:hover .arrow {
    transform: translateX(4px);
}

@media (max-width: 768px) {
    .find-card-container {
        grid-template-columns: 1fr;
    }

    .find-card.find-card-large {
        grid-row: span 1;
        min-height: 350px;
    }

    .find-card {
        min-height: 250px;
    }

    .name-btn {
        font-size: 12px;
        padding: 10px 12px;
    }

    .discover-btn {
        font-size: 11px;
        padding: 10px 12px;
    }
}